body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    
}
#mainheader {
  text-align: center;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.user-card {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.openBtn{
    display: none;
  }.addBtn{
    background-color:  #a881af;
    padding: 10px 30px;
    margin: auto;
  } .custom-logo {
    width: 100px; 
    height: 100px; 
    background-color: #fff; 
    border-radius: 50%;
   
  }

  #userList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  .user-card {
    border: 1px solid #ccc; 
    padding: 20px;
  }#main_header {
    text-align: center; 
    margin-top: 50px; 
  }